.sgpNow-div{
    border-top: 2px solid var(--text-dark);
    margin-top: 1rem;
    padding-top: 1rem;
}
.additional-text-login a{
    color: var(--text-dark);
}
.additional-text-login a:hover{
    color: var(--primary-color) !important;
    cursor: pointer;
}
.login:hover{
    background-color: var(--primary-light);
}
.additional-text-login{
    margin-top: 1rem;
}

.form-group img{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    background-color: transparent;
}
