@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Birthstone+Bounce:wght@400;500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary Colors */
  --primary-color: #DC3545;  
  --primary-dark:  #B02130;   
  --primary-light: #FF4D5E;  

  /* Backgrounds */
  --bg-dark: #000000;        
  --bg-light: #222222;       

  /* Text Colors */
  --text-dark: #ffffff;      
  --text-light: #f1f1f1;


  --alert-info: #007bff; 
  --blue-shade-lighter: #5B9DEA;
  --blue-shade-light: #0096FF;
  --blue-shade-dark: #3D7DCA;

  --teal: #30B8AB;

  --orange: #FF6F37;

  --magenta: #7F00A9;
  --magenta-lighter: #9100C1;

  --alert-success: #2ABF63;  
  --alert-warning: #ffc107;  
  --alert-danger: #E41E3F;   
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
