.mini-nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.mini-nav-div h1{
    font-size: 2rem;
    font-family: "Bebas Neue";
    letter-spacing: .2rem;
    font-weight: lighter;
}
.mn-nav-div{
    display: flex;
    align-items: center;
}
.mn-nav-div img{
    width: 42px;
    transform: scaleX(-1);
}
.lg-mn-btn{
    cursor: pointer;
  
    width: 170px;
    padding: 10px;
    padding-top: .8rem ;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 2px solid transparent;
  
    background-color: var(--primary-dark);
    color: var(--text-light);
    font-family: 'Bebas Neue';
    transition: all 0.5s ease;
}
.lg-mn-btn:hover{
    transform: scale(0.96);
    background-color: var(--primary-light);
}